*.log
*.class
.metals/
.bsp/
.vscode/
.bloop/
target/
.DS_Store
project/metals.sbt
project/boot/
project/plugins/project/
project/target/
project/project/
src/main/scala/hello.tasty
*.tasty
src/main/scala/Main$package.tasty
.scala_dependencies
.worksheet
